/**
--- GENERAL
**/
body {
  background-color: #222;
  color: #fff;
}

a:hover {
  color: inherit;
}

.bg-dark {
  background-color: #000000 !important;
  color: #fff !important;
}

.bg-dark a,
.bg-dark p {
  color: #fff;
}

.page-title {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 3.3em;
  margin: 15px;
}

.text-muted {
  color: #8e8e8e !important;
  margin: 20px;
}

.btn-primary {
  background-color: #65d36e;
  border-color: #65d36e;
}

/**
--- NAV BAR
**/

.nav-link {
  text-transform: capitalize;
}

.navbar-brand {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 1rem;
  background: #000;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.25);
}

.navbar .navbar-toggler {
  top: 0.25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: 0.75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.25);
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 2rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    background: #000;
    position: -webkit-sticky;
    position: sticky;
  }
}

/**
--- SIDEBAR
**/

.sidebar .nav-link {
  font-weight: 500;
  color: #fff;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #65d36e;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: 0.75rem;
  text-transform: uppercase;
}

/**
--- SORT DATA
**/

select#sort-data {
  margin: 20px 0 0 0;
}

/**
--- CATEGORY LIST
**/

.list-item {
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  width: 180px;
  height: 180px;
  border-radius: 8px;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 10px;
  text-align: center;
}

.item-link,
.clickable-row {
  animation: fadein 1s;
  -moz-animation: fadein 1s; /* Firefox */
  -webkit-animation: fadein 1s; /* Safari and Chrome */
  -o-animation: fadein 1s; /* Opera */
}
.album-item {
  max-width: 180px;
  margin: 10px;
}

.album-item img {
  border-radius: 8px;
}

.item-link:hover {
  text-decoration: underline;
  color: #65d36e;
}

.list-item img {
  width: 200px;
  height: auto;
}

.list-item .title,
.album-item .title {
  margin: 30px 0 40px 0;
  font-size: 1.3em;
}

.album-item .title {
  text-align: center;
}

.item-link {
  color: #fff;
}

/**
--- SONG LIST
**/

.table {
  color: #fff;
}

/**
--- MEDIA QUERIES
**/
@media (max-width: 800px) and (min-width: 533px) {
  .list-list {
    justify-content: center;
  }
  .container {
    max-width: 90%;
  }

  .container .item-list {
    justify-content: center;
  }
}

@media (max-width: 533px) {
  .list-item {
    max-width: 80%;
    margin: 0 auto;
  }
  .list-item img {
    width: 100%;
  }
}

/**
--- KEYFRAMES
**/
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
